* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
}

.main-container, 
.hero, 
.logo-container, 
.logo-block, 
.cta, 
.form-container, 
.main-footer,
.col-1,
.col-2,
form {
    display: flex;
}

.main-container {
    height: 80%;
    width: 100%;
    margin: auto;
    padding: 0;
    max-width: 1600px;
}

.hero {
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)), 
                url('assets/samuelDarkForest.jpg');
    background-size: cover;
    width: 33%;
    align-items: end;
}

.logo-container {
    height: 85%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-block {
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
}

.logo {
    max-height: 80%;
    margin-right: .5rem;
}

.logo-block h1 {
    font-size: 4rem;
}

.photo-credit {
    padding-bottom: .75rem;
}

.photo-credit a {
    color: white;
}

.main {
    width: 67%;
    background-color: white;
    line-height: 1.3;
}

.cta, .form-container, .main-footer {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.cta {
    background-color: rgb(243, 242, 242);
    font-size: 1.75rem;
    font-weight: bold;
    height: 33%;
    justify-content: end;
    padding-bottom: 4rem;
}

.cta p {
    padding-top: 2rem;
}

.form-container {
    height: 33%;
    padding-top: 2rem;
}

form {
    gap: 4rem;
    padding: 2rem 0;
    line-height: 1.2;
    width: 75%;
}

.col-1, .col-2 {
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

input {
    width: 100%;
    height: 1.8rem;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    box-shadow: 2px 2px 3px rgb(197, 193, 193);
}

label {
    font-size: .8rem;

}

.main-footer {
    background-color: rgb(243, 242, 242);
    height: 34%;
}

button {
    color: white;
    background-color: rgb(81, 86, 86);
    border-radius: 7px;
    font-size: 1rem;
    letter-spacing: .05rem;
    width: 13rem;
    padding: .75rem 2rem;
    margin: 2rem 0;
}